.App {
  text-align: center;
  background-color: black;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.articleDiv
{
    border:solid 1px #161718;
    padding:10px;
    margin:5px;
    font-size:15px;
    font-family:Georgia;
    text-align:center;
    border-radius:10px;
    background-color: #f7efef;
}
        
.articleDiv:hover
{
    background-color:#808080;
    color:#fff;
    font-weight:bold;
}
.a
{
  color: white ;
text-align: center;
text-decoration-color: #fff;


}

.header{

  background: tomato;
}

.headerDiv{

  background-color: black;
  text-align: center;
  
}
body{

  background-color: black !important;
}